<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
          connectionString="Server=34753e4d-26ef-47d7-bede-ab60013c0159.sqlserver.sequelizer.com;Database=db34753e4d26ef47d7bedeab60013c0159;User ID=yaqfobhfdmzwsfeq;Password=fk4my5LkKEsUTmmn8MtWGMDCSG4FdSB3bZzUMfMdxBKeSEB4rP4f3vgzNzAYaeh2;"
          providerName="System.Data.SqlClient"
          xdt:Transform="SetAttributes"
          xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
