<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=bbe3f194-25fa-4f19-bb30-ab600121812c.sqlserver.sequelizer.com;Database=dbbbe3f19425fa4f19bb30ab600121812c;User ID=kuvahncjlbihwrrv;Password=PNnBDpbHr7QYCtDrEZNRmBFa48rApn7NkpSA8rSjVrRsXo2gFcVcb8LmhmFE6Gse;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
